* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

@font-face {
  font-family: "restless";
  src: url("assets/RestlessSoulBB-Bold.otf") format("opentype");
}

@font-face {
  font-family: "thrirteenthflr";
  src: url("assets/Thirteenth Floor.otf") format("opentype");
}

body {
  background-image: url("assets/page4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

p {
  font-family: "restless";
  font-size: 1.7em;
  color: white;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 40px;
}

.img {
  height: 100px;
  margin-bottom: 0;
  transition: all 0.3s ease;
}

.img:hover {
  animation: blink 0.15s step-end infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.main-para {
  padding-bottom: 50px;
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 7%;
  padding-top: 3%;
  padding-right: 7%;
}

.main-para img:hover {
  transform: scale(0.8);
  transition: all 0.2s ease-in-out;
}

.main-para img {
  transition: all 0.2s ease-in-out;
}

.sideimg {
  position: absolute;
  left: 0;
  top: 130px;
  z-index: 0;
}

a {
  color: #722323;
  text-decoration: none;
}
