* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

@font-face {
  font-family: "restless";
  src: url("assets/RestlessSoulBB-Bold.otf") format("opentype");
}

@font-face {
  font-family: "thrirteenthflr";
  src: url("assets/Thirteenth Floor.otf") format("opentype");
}

body {
  background-image: url("assets/page3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

p {
  font-family: "restless";
  font-size: 1.7em;
  color: white;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 40px;
}

.img {
  height: 100px;
  margin-bottom: 0;
  transition: all 0.3s ease;
}

.img:hover {
  animation: blink 0.15s step-end infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.main-para {
  background-image: url("assets/Rectangle 2.png");
  background-size: cover;
  padding-bottom: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sideimg {
  position: absolute;
  right: 20px;
  top: 130px;
  z-index: 0;
}
