* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Almendra&display=swap");

@font-face {
  font-family: "restless";
  src: url("assets/RestlessSoulBB-Bold.otf") format("opentype");
}

body {
  background: url("assets/page2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

img {
  height: 100px;
  margin-bottom: 0;
  transition: all 0.3s ease;
}

img:hover {
  animation: blink 0.15s step-end infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.introtxt {
  font-family: "restless";
  font-size: 2em;
  color: white;
  text-align: center;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  background-image: url("assets/Rectangle\ 2.png");
  background-size: cover;
  padding-bottom: 50px;
}

.introtxt a {
  color: #722323;
  text-decoration: none;
}

.introtxt img {
  height: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}
